:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-hex: #0b0400;
  --background-start-hex: #f3f3f3;
  --background-end-hex: #525252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #f3f3f3;
    --background-start-hex: #0b0400;
    --background-end-hex: #41403f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-inter);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-hex));
  background: linear-gradient(
    135deg,
    var(--background-start-hex),
    50%,
    var(--background-end-hex)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
