.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: hidden;
}

.group h1 {
  font-size: 36px;
  text-align: center;
}

.logo {
  width: 200px;
  height: 150px;
}

.searchGroup {
  width: 100%;
  display: flex;
}

.searchBack {
  overflow: hidden;
  width: 50px;
  margin-right: 5px;
}

.search {
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.browse { 
  position: absolute;
  bottom: 100px;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: none;
}